



Removed Menu Items: 
--------------------
 <!--==================== SERVICE 2 ====================-->
              <!-- <div class="service__card swiper-slide">
                <img src="assets/images/visionary_unseen-histories.jpg" alt="" class="service__img si-2">
                <div class="service__data">
                  <h2 class="service__title">The Visionary</h2>
                  <span class="service__description">For those who are not afraid to stand out, this tier takes it up a
                    notch with unique personal expressions. Services include everything from the Classic Harlem tier,
                    plus
                    creative hair designs and hairline and beard enhancements.</span>
                </div>
              </div> -->

              <!--==================== SERVICE 3 ====================-->
              <!-- <div class="service__card swiper-slide">
                <img src="assets/images/gentleman-maria-orlova.jpg" alt="" class="service__img si-3">
                <div class="service__data">
                  <h2 class="service__title">The Gentleman</h2>
                  <span class="service__description">The epitome of sophistication. This tier includes everything from
                    the
                    Visionary tier, plus holistic grooming experiences like a steam facial, beard wash, shape and
                    sculpt,
                    and a scalp scrub.</span>
                </div>
              </div> -->